.venv
tempfile
*.mp4
*.wav
__pycache__
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.ipynb_checkpoints/
data
models
*.pdf
*.okdokey
*.db
test.md
*.png
/build/
/desktop/release/
/desktop/win-unpacked/
/desktop/*.log
#frontend 
node_modules/
.pnp
.pnp.js
dist/
dist-ssr/
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?